*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    
    text-align: center;
    font-size: 40px;
    color: #802e37;
}
div{
    justify-content: center;
}

.productos{
    display:flex;
    gap:30px;
    flex-wrap: wrap;
}

.producto{
    border:1px solid #ccc;
    text-align: center;
    border-radius: 10px;
    background-color: #f6f5f3;
    box-shadow: 0px 4px 10px #c9c5bb; /* Sombra más pronunciada */
    transform: translateY(-2px); /* Efecto de elevación */
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    width: 250px; /* Ajusta el ancho según tu diseño */
    height: 430px; /* Fija una altura uniforme */
    text-align: center;
}
.producto img {
    width: 200px;  
    height: 200px; 
    object-fit: contain; 
}

.producto h3 {
    margin-top: 10px 0;
    font-size: 25px;
    color: #3a351d;
}

.producto p {
    margin-bottom: 5px 0;
    font-size: 20px;
}


.producto button{
    background-color: #802e37;
    border: none;
    padding: 20px;
    border-radius: 10px;
}
.producto button:hover{
    background-color: #af4b57;
    box-shadow: 0px 4px 10px #5e1b23; /* Sombra más pronunciada */
    transform: translateY(-2px); /* Efecto de elevación */
}
button{
    background-color: #cc979b;
    border: none;
    padding:30px;
    border-radius: 15px;
}
button:hover{
    background-color: #a36f74;
    box-shadow: 0px 4px 10px #a36f74; /* Sombra más pronunciada */
    transform: translateY(-2px); /* Efecto de elevación */
}

img{
    max-width: 150px;
    margin-bottom: 20px;
}

.ircarrito{
    display: flex;
    justify-content: center;
}

p{
    font-size: 25px;
    color: #a89ba6;
}

.ircarrito i{
    font-size: 25px;
}
 .ircarrito button{
    margin: 30px;
 }

 .vacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  /* Esto asegura que se centre también horizontalmente */
    height: 300px;        /* Establece una altura fija para que la imagen se pueda centrar verticalmente */
    margin-top: 50px;     /* Ajusta el margen según necesites */
    margin-bottom: 50px; 
}

.vacio p{
    justify-content: center;
    align-items: center;
    margin: auto;
}

.vacio img {
    max-width: 200px;  /* Puedes ajustar este tamaño según lo que necesites */
    width: 100%;       /* Asegura que la imagen no se desborde */
    height: auto;      /* Mantiene la proporción de la imagen */
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
    margin-top: 50px;
}