*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    
    text-align: center;
    font-size: 40px;
    color: #802e37;
}
p{
    text-align: center;
    font-size: 30px;
    color: #a89ba6;
}
button{
    background-color:  #a89ba6;
    font-weight: 600;
    border: none;
    padding: 20px;
    border-radius: 10px;
    color: #ffeefc;
    font-size: 20px;
}
button:hover{
    background-color:  #867383;
    box-shadow: 0px 4px 10px  #6c5a6a;/* Sombra más pronunciada */
    transform: translateY(-2px); /* Efecto de elevación */
    color: #decada;
}
.productos button{
    background-color: #802e37;
    border: none;
    padding: 20px;
    border-radius: 10px;
}
.productos button:hover{
    background-color: #af4b57;
    box-shadow: 0px 4px 10px #5e1b23; /* Sombra más pronunciada */
    transform: translateY(-2px); /* Efecto de elevación */
}
.casa{
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Ajusta el margen según necesites */
}
.centrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  /* Esto asegura que se centre también horizontalmente */
    height: 300px;        /* Establece una altura fija para que la imagen se pueda centrar verticalmente */
    margin-top: 50px;     /* Ajusta el margen según necesites */
}

.centrar img {
    max-width: 200px;  /* Puedes ajustar este tamaño según lo que necesites */
    width: 100%;       /* Asegura que la imagen no se desborde */
    height: auto;      /* Mantiene la proporción de la imagen */
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
    margin-top: 50px;
}
.casa button{
    background-color: #cc979b;
    border: none;
    padding:30px;
    border-radius: 15px;
    margin: 50px;
}
.casa button:hover{
    background-color: #a36f74;
    box-shadow: 0px 4px 10px #a36f74; /* Sombra más pronunciada */
    transform: translateY(-2px); /* Efecto de elevación */
}
ul {
    list-style-type: none;  /* Elimina los puntos por defecto */
    padding: 0;
    margin: 0;
    max-width: 600px;
    margin: 0 auto;
    
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f5f3;
    color: #a89ba6;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px #c9c5bb; /* Sombra más pronunciada */
    transform: translateY(-2px); /* Efecto de elevación */
  }
  
  li:hover {
    background-color: #f6f5f3;
    transform: scale(1.02);
    transition: transform 0.3s ease;
  }
  
  li span {
    font-weight: bold;
    color: #333;
  }
  .factura{
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Ajusta el margen según necesites */
    
}
